/* Componente responsável por fazer o elemento que mostra a imagem de fundo e centraliza o formulário */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /*condicionando os inputs a trabalharem com a border box para nao sairem dos limites das larguras dos elementos pais*/
}

/* "App" é o elemento pai de todos*/
.App {
    display: flex;
    justify-content: center;
    align-items: center; /*Quando tiver altura, vai jogar lá para o meio da tela*/
    min-height: 100vh;
    background-color: rgb(187, 208, 228);
    background-size: cover; /*Para ele preencher toda a tela e mostrar o máximo da imagem no fundo*/
    background-position: center; /*Para centrar a imagem porque ela é muito maior que a minha tela*/
}