/* container horizontal */
.container-cards {
  display: flex;
  justify-content: center;
  gap: 40px; /* espaço entre os cards */
  margin-top: 40px;
  flex-wrap: wrap; /* quebra no mobile */
}

/* card */
.card {
  width: 300px;
  min-height: 220px;

  background-color: #f9f9f9;
  color: white;

  border-radius: 10px;
  border: 1px solid #007bff;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0; /* REMOVE o padding geral */
  text-align: center;
  text-decoration: none;

  overflow: hidden; /* importante pra respeitar borda arredondada */

  transition: 0.3s;
}

/* imagem do card */
.card-img {
  width: 100%;       /* ocupa toda largura */
  height: 140px;

  object-fit: cover; /* ou contain se não quiser corte */

  display: block;    /* remove espaço estranho abaixo da imagem */
}

/* texto */
.card p {
  padding: 15px;
  font-size: 16px;
  margin: 0;
}

/* hover */
.card:hover {
  background-color: white;
  color: #007bff;
  transform: translateY(-5px);
}